body {
  background-image: url("mushbck.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;

}

a:link {
  color: blue;
}

a:visited {
  color: red;
}

a:hover {
  color: green;
}

a:active {
  color: blue;
}

h1 {
  background-color: white;
}

h2 {
  background-color: white;
}

p {
  padding: 20px;
}

table {
  background-color: white;
}

footer {
  background-color: white;
}

.div1 {
  width: 955px;
  margin: auto;
  border: 3px solid #000000;
  background-color: white;
}

.div2 {
  width: 955px;
  margin: auto;
  border: 3px solid #000000;
  background-color: white;
}

.div3 {
  width: 955px;
  margin: auto;
  border: 3px solid #000000;
  background-color: white;
}

.div4 {
  width: 955px;
  margin: auto;
  border: 3px solid #000000;
  background-color: white;
}

.div5 {
  width: 920px;
  margin: auto;
  border: 3px solid #000000;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  border: 3px solid #000000;
}

#paragraph1 {
  align: left;
  text-indent: 50px;
  padding: 40px;
}

.responsiveimg1 {
  height: auto;
  width: 100%;
  max-width: 955px;
}

.mush1 {
  height: auto;
  width: 100%;
  max-width: 400px;
}

.mush2 {
  height: auto;
  width: 100%;
  max-width: 400px;
}

.mush3 {
  height: auto;
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width: 1042px) {
  h1 {
    font-size: 1.5em;
    }

@media screen and (max-width: 1050px) {
    .div1 {
      width: 100%;
    }
    .div2 {
      width: 100%;
    }
    .div3 {
      width: 100%;
    }
    .div4 {
      width: 100%;
    }
  }

@media screen and (max-width: 1042px) {
  table {
    width: 100%;
    }
  }


